Repository gurnben/olm-operator-konflux-sample: changes, and which Tekton pipelines are due for each by the changed paths.
All: olm-operator-konflux-sample-gatekeeper-operator-bundle-on-pull-request, olm-operator-konflux-sample-gatekeeper-operator-on-push

.tekton/olm-operator-konflux-sample-gatekeeper-operator-bundle-pull-request.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/gurnben/olm-operator-konflux-sample?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/pull_request_number: '{{pull_request_number}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch == "main" && 
      (".tekton/multi-arch-build-pipeline.yaml".pathChanged() || 
      ".tekton/olm-operator-konflux-sample-gatekeeper-operator-bundle-pull-request.yaml".pathChanged() || 
      ".tekton/olm-operator-konflux-sample-gatekeeper-operator-bundle-push.yaml".pathChanged() || 
      "Containerfile.gatekeeper-operator-bundle".pathChanged() ||
      "gatekeeper-operator-bundle".pathChanged())
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: gatekeeper-example-application
    appstudio.openshift.io/component: olm-operator-konflux-sample-gatekeeper-operator-bundle
    pipelines.appstudio.openshift.io/type: build
  name: olm-operator-konflux-sample-gatekeeper-operator-bundle-on-pull-request
  namespace: gurney-buchanan-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/gurney-buchanan-tenant/gatekeeper-example-application/olm-operator-konflux-sample-gatekeeper-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Containerfile.gatekeeper-operator-bundle
  pipelineRef:
    name: multi-arch-build-pipeline
  taskRunTemplate: {}
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

.tekton/olm-operator-konflux-sample-gatekeeper-operator-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/gurnben/olm-operator-konflux-sample?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch == "main" && 
      (".tekton/multi-arch-build-pipeline.yaml".pathChanged() || 
      ".tekton/olm-operator-konflux-sample-gatekeeper-operator-pull-request.yaml".pathChanged() || 
      ".tekton/olm-operator-konflux-sample-gatekeeper-operator-push.yaml".pathChanged() || 
      "Containerfile.gatekeeper-operator".pathChanged() ||
      "gatekeeper-operator".pathChanged())
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: gatekeeper-example-application
    appstudio.openshift.io/component: olm-operator-konflux-sample-gatekeeper-operator
    pipelines.appstudio.openshift.io/type: build
  name: olm-operator-konflux-sample-gatekeeper-operator-on-push
  namespace: gurney-buchanan-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/gurney-buchanan-tenant/gatekeeper-example-application/olm-operator-konflux-sample-gatekeeper-operator:{{revision}}
  - name: dockerfile
    value: Containerfile.gatekeeper-operator
  pipelineRef:
    name: multi-arch-build-pipeline
  taskRunTemplate: {}
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'
status: {}

force rebuild
  Containerfile.gatekeeper
  Containerfile.gatekeeper-operator
  Containerfile.gatekeeper-operator-bundle
Due: olm-operator-konflux-sample-gatekeeper-operator-bundle-on-pull-request, olm-operator-konflux-sample-gatekeeper-operator-on-push

Run on-pull-request on pull request
  .tekton/olm-operator-konflux-sample-gatekeeper-operator-bundle-pull-request.yaml
Due: olm-operator-konflux-sample-gatekeeper-operator-bundle-on-pull-request

Make builds gooder
  .tekton/multi-arch-build-pipeline.yaml
Due: olm-operator-konflux-sample-gatekeeper-operator-bundle-on-pull-request, olm-operator-konflux-sample-gatekeeper-operator-on-push

Red Hat Konflux purge olm-operator-konflux-sample-gatekeeper-operator-bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/olm-operator-konflux-sample-gatekeeper-operator-bundle-pull-request.yaml
  .tekton/olm-operator-konflux-sample-gatekeeper-operator-bundle-push.yaml
Due: olm-operator-konflux-sample-gatekeeper-operator-bundle-on-pull-request

Red Hat Konflux purge olm-operator-konflux-sample-gatekeeper Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/olm-operator-konflux-sample-gatekeeper-pull-request.yaml
  .tekton/olm-operator-konflux-sample-gatekeeper-push.yaml
Due: none

Red Hat Konflux purge olm-operator-konflux-sample-gatekeeper-operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/olm-operator-konflux-sample-gatekeeper-operator-pull-request.yaml
  .tekton/olm-operator-konflux-sample-gatekeeper-operator-push.yaml
Due: olm-operator-konflux-sample-gatekeeper-operator-on-push
